<div class="member" id="member_<%=member.id%>">
   <%if @current_member and (@current_member==member or @current_member.is_phi)%>
      <div style="float:right;">
         <%if @current_member.is_phi? and @current_member!=member%>
         <%= button_to "Make phi", make_phi_member_path(member), :confirm => "Are you sure you want to hand over the presidency?", :method => :put %>
         <%end%>
        <%= button_to 'Destroy', member, :method => :delete, :remote => true,:format => 'js',:confirm => 'Are you sure you want to delete this member?' , :style=>"float:right;"%>
         <%= button_to 'Edit', edit_member_path(member), :method => :get,:style => "float:right; margin-right:10px" %>
      </div>
   <%end%>
   
   <%= link_to image_tag(member.photo ? member.photo.image.url(:thumb) : "/images/default_profilpic.gif", :style => "width:80px"), member%>
   
   
   <%= link_to member.name, member, :class => "strong" %> <br/>
   <div style="margin-left: 70px; font-weight:bold;"><%=member.position%></div>
</div>