<%=simple_form_for @member do |f|%>
<p><b>For Alumni: </b> If you are Alumni, please select the "Are you Alumni?" option. All Alumni infomation is only visible to members of this site. We will not give out any personal information.
<p><b>For Actives: </b>This is a public site, so keep it clean! Only the information posted in the "Public Info" will be seen by the public</p> 
<br/>
<b>Public Info</b>
<br/>
<%=f.input :fname, :label => "First Name"%>
<%=f.input :lname, :label => "Last Name"%>
<%=f.input :nickname%>
<%=f.input :position%>
<%=f.input :degree%>
<%=f.input :grad_year%>
<%=f.input :summary, :as => :text, :label => "About you"%>

<%=f.input :is_alumni,:label => "Are you Almuni?" ,:as => :radio,:hint => "Alumni will only be visible to members."%>

<br/>
Upload Your Picture here 
<br/>
<%=file_field_tag "member[image][image]"%>

<br/><br/>
<hr/>
<br/>
<b>Private Info</b>
<br/>
<br/>
 Please use the information you wish to be contacted at.
<br/>
<br/>
<%=f.input :phone%>
<%=f.input :email%>
<hr/>
<%=f.input :password%>
<%=f.input :password_confirmation%>
<hr/>
<%=f.button :submit%>
<%end%>